

@font-face {
  font-family: 'Ayesha';
  src: url(https://dafonttop.com/ayesha.font);
}

*,*::after,*::before{
  box-sizing: border-box;

}


body{
  font-family: 'Ayesha';
  text-transform: uppercase;
}


.btn-black{
  background-color: #000;
  color: #fff;
}

.btn-white{
  background-color: #fff;
  color: #000;
}